h1 {
  font-size: 4.125rem;
}

.bg-body {
  background-color: #000000;
  color: #fff;
  .bg-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    border-bottom: 6px solid gray;
    .bg-text {
      text-align: left;
      margin-top: 5rem;
      h1 {
        margin-bottom: -0.5rem;
        line-height: 1.1;
      }
      h2 {
        font-size: 1.625rem;
        font-weight: 400;
      }
    }
    .bg-image {
      img {
        width: 480px;
        margin-top: 5rem;
      }
    }
  }
}
